@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Barlow', sans-serif;
}

:root {
  background: #1b1a1a;
  color: white;
}

span {
  font-size: .8125rem;
}